$white       :#fff;
$samewhite   :#dddddd;
$navcolor    :#0c0c35;
$trp         :#0c0c35e7;
$trp2        :#9741ff3f;
$sameblue    :#9841ff;
$icobac      :#9841ff4d;
$softyellow  :#f1d6c5;
$darkyellow  :#FF9529;
$dark        :#0000008e;