@import "../variable/variables";
@import "../mixins/mixin";
// navbar part start----------------
#gameplay{
    padding-top: 100px;
    .gameHeading{
        text-align: center;
        display: block;
        h4{
            @include h4;
        }
        h2{
            @include h2;
        }
        p{
            @include p;
        }
    }
    .gameplaySlider{
        margin: 150px 0;
        .meslick{
            width: 100%;
            display: block;
            .each_player{
                position: relative;
                display: block;
                margin: 0 5px;
                img{
                    width: 100%;
                }
                .playLayer{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: grid;
                    place-items: center;
                    opacity: 0;
                    visibility: hidden;
                    .midplay_anim{
                        width: 80px;
                        height: 80px;
                        background: #f90cff;
                        background-image: linear-gradient(to right bottom, #f90cff, #e027ff, #c534ff, #a93eff, #8a44ff, #6560ff, #3c73ff, #0081ff, #009cff, #00b3ff, #00c6f5, #0cd7e8);
                        box-shadow: 0 10px 33.25px 1.75px rgba(0, 27, 103, .35);
                        border-radius: 50%;
                        z-index: 99;
                        display: grid;
                        place-items: center;
                        svg{
                            font-size: 40px;
                            margin-left: 3px;
                            color:$white;
                        }
                    }
                }
                .utub1{
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    background: $white;
                    border-radius: 50%;
                    position: absolute;
                    left: 40.6%;
                    top: 32.5%;
                    animation: drt 3s infinite;
                    animation-delay: 5s;
                    animation-duration: 3s;
                    transition: all 0.3s ease;
                    z-index: 3;
                    opacity: 0;
                    visibility: hidden;
                }
                .shew2{
                    animation-delay: 5s;
                    animation-duration: 2s;
                    animation: shew2 3s infinite;
                    z-index: 2;
                    opacity: 0;
                    visibility: hidden;
                }
                .shew3{
                    animation-delay: 5s;
                    animation-duration: 1s;
                    animation: shew3 3s infinite;
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            @keyframes drt {
                0%{
                    transform: scale(1);
                }
                90%{
                    transform: scale(2);
                }
                100%{
                    transform: scale(2);
                    opacity: 0;
                    
                }
            }
            @keyframes shew2 {
                0%{
                    transform: scale(1);
                }
                90%{
                    transform: scale(2);
                }
                100%{
                    transform: scale(2);
                    opacity: 0;
                }
            }
            @keyframes shew3 {
                0%{
                    transform: scale(1);
                }
                90%{
                    transform: scale(2);
                }
                100%{
                    transform: scale(2);
                    opacity: 0;
                }
            }
        }
        .meslick.slick-center{
            .each_player{
                img{
                    background: transparent;
                }
                .playLayer{
                    opacity: 1;
                    visibility: visible;
                }
                .utub1{
                    opacity: 1;
                    visibility: visible;
                }
                .shew2{
                    opacity: 1;
                    visibility: visible;
                }
                .shew3{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}