@import "../variable/variables";

@mixin cmnBtn{
    background: #f90cff;
    background-image: linear-gradient(to right bottom, #f90cff, #e027ff, #c534ff, #a93eff, #8a44ff, #6560ff, #3c73ff, #0081ff, #009cff, #00b3ff, #00c6f5, #0cd7e8);
    clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    color: $white;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding:10px 20px;
    border-radius: 2px;
    transition: all linear .3s;
    .green{
        color:$sameblue;
    }
    &:hover{
        background-image: conic-gradient(rgb(235, 68, 213),green,pink,gray,blue,yellow);
        transition: all linear .3s;
    }
}
@mixin minibtn{
    width: 100px;
    padding: 10px 20px;
    background: #f90cff;
    background-image: linear-gradient(to right bottom, #f90cff, #e027ff, #c534ff, #a93eff, #8a44ff, #6560ff, #3c73ff, #0081ff, #009cff, #00b3ff, #00c6f5, #0cd7e8);
    clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    color: $white;
    font-family: 'Oxanium', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    .green{
        color:$sameblue;
    }
}
@mixin h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.7;
    color: #fff;
}
@mixin h2{
    font-size: 45px;
    line-height: 50px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color:$white;
    margin-bottom: 10px;
    .green{
        color:$sameblue;
    }
}
@mixin p{
    font-size: 17px;
    line-height: 27px;
    color: #ddd;
    font-weight: 400;
    letter-spacing: -0.2px;
}